<nav class="navbar navbar-light bg-light">
  <!-- Image and text -->
  <a class="navbar-brand" href="#">
    <span id="logo-instagram" class="d-inline-block align-top">𝓝𝓪𝓬𝓱𝓸𝓰𝓻𝓪𝓶</span>
  </a>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="🔍 Search" aria-label="Search">
  </form>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" href="https://github.com/NachoMerino/Clon-Instagram" target="_blank">Get the App</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Sign Up</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">|</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Log In</a>
    </li>
  </ul>
</nav>
<header>
  <label class="nav-link active" for="primary-nav-trigger">Other Users</label>
  <input id="primary-nav-trigger" class="visually-hidden" type="checkbox" />
  <nav id="primary-nav">
    <ul>
      <li><a id="user1" href="#">NachoMerino</a></li>
      <li><a id="user2" href="#">Vernon King</a></li>
      <li><a id="user3" href="#">Teresa Huang</a></li>
      <li><a id="user4" href="#">Darrin Proctor</a></li>
    </ul>
  </nav>
</header>

<div id="user-info" class="container">
</div>
